@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "merriweather" serif;
}
/* header_container style starts here */
.header_container {
  max-width: 1311px;
  min-height: 600px;
  margin: 0 auto;

  margin-top: 20px;

  background: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url(/images/Banner\ Image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}
.banner_content p,
h1 {
  color: white;
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 52px;
  font-weight: 600;
  line-height: 85px;
  letter-spacing: 0%;
  text-align: center;
}
.banner_content p {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}
.banner_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.second_section_container {
  width: 802.9px;
  height: 806px;

  margin: 0 auto;
  margin-top: 90px;
}
.second_section_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.second_section_content h2 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  line-height: 107px;
  letter-spacing: 0%;
  text-align: center;
}
.second_section_content p {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
}
.second_section_content h3 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
}
.second_section_image {
  width: 802.9px;
  height: 500px;
}
.second_section_image img {
  height: 100%;
  width: 100%;
}
